#button {
    background-color: darkred;
    padding: .15em .3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 8pt;
    color: white;
}

.photo {
    width: 15%;
    height: auto;
}

.p1 {
    float: left;
    width: 49%;
}

.p2 {
    float: right;
    width: 49%;

}

.class {
    float: right;
}

h1 {
    color: darkred;
}

h2 {
    color: darkred;
}

h3 {
    color: black;
}