#nButton {
    background: red;
    padding: .15em .3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    color: black;
}

#aButton {
    background-color: red;
    padding: .15em .3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    color: black;
}

#pButton {
    background-color: red;
    padding: .15em .3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    color: black;
}

#cButton {
    background-color: red;
    padding: .15em .3em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10pt;
    color: black;
}

.photo {
    width: 15%;
    height: auto;
}

.p1 {
    float: left;
    width: 49%;
}

.p2 {
    float: right;
    width: 49%;

}

.class {
    float: right;
}

h2 {
    color: red;
}

h3 {
    color: black;
}